<style>
    body {
        background-color: #fff1d5;
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Flight Manager</h1>
    <p> Your place to create, save and organize flight reservations in an easy and convenient way.</p>
    

</div>
